@model IEnumerable<TrainingSystem.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<a asp-action="Create" class="btn btn-primary mb-2">+ Add Course</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Degree</th>
            <th>Min Degree</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var course in Model)
{
    <tr>
        <td>@course.Name</td>
        <td>@course.Degree</td>
        <td>@course.MinDegree</td>
        <td>@course.Department?.Name</td>
        <td>
            <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-warning btn-sm">Details</a>
            <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
            <a asp-action="GeneratePdf" asp-route-id="@course.Id" class="btn btn-outline-success btn-sm">  Download Course PDF</a>

        </td>
    </tr>
}
    </tbody>
</table>
 